# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django==5.0.1
djangorestframework==3.15.1
drf-redesign==0.3.9
gunicorn==21.2.0
huggingface-hub==0.23.4
python-dotenv==1.0.1"
